.hero
{
    background:url("images/home-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding : 280px 0;
    text-align: center;
    position:relative;
    
}

.overlay{
    background: rgba(0,0,0,0.7);
    position:absolute;
    height:100px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height: 100%;
   

}

.hero-content{
    position:relative;
}

.hero-title
{
    color: white;
    font-family: $font;
    font-weight: 700;
    font-size: 62px;
    letter-spacing: 0.5px;
    
}
.hero-slogan
{
    color: $primary-color;
    font-family: $font;
    margin-top: 30px;
    margin-bottom: 60px;
    
}
.btn-hero{
    color: #444;
    font-family: $font;
    font-weight: bold;
    letter-spacing:2px ;
    background: #ffffff;
    border:1px solid #ffffff;
    border-radius: 100px;
    padding:13px 22px;
        &:hover{
            background: transparent;
            color:#ffffff;
        }
}
