@import 'bootstrap-3.4.1-dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body {
  font-family: "Merriweather", serif;
}

p {
  color: #777;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: 300px;
  line-height: 28px;
  letter-spacing: 0.3px;
}

.navigation {
  padding: 31px;
}

.logo {
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
}
.logo a {
  color: #555;
}
.logo a:hover {
  text-decoration: none;
}

.links ul {
  margin-bottom: 0;
}
.links ul li.active a {
  color: #bfba55;
}
.links ul li {
  padding-left: 20px;
  padding-right: 20px;
}
.links ul li a {
  color: #777;
  font-family: "Merriweather", serif;
  font-size: 16px;
  letter-spacing: 1px;
}
.links ul li a:hover {
  color: #bfba55;
  text-decoration: none;
}

.hero {
  background: url("images/home-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 280px 0;
  text-align: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.hero-content {
  position: relative;
}

.hero-title {
  color: white;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 62px;
  letter-spacing: 0.5px;
}

.hero-slogan {
  color: #bfba55;
  font-family: "Merriweather", serif;
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn-hero {
  color: #444;
  font-family: "Merriweather", serif;
  font-weight: bold;
  letter-spacing: 2px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  padding: 13px 22px;
}
.btn-hero:hover {
  background: transparent;
  color: #ffffff;
}

.article {
  margin-top: 80px;
  margin-bottom: 80px;
}

.article-title {
  font-family: "Merriweather", serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 50px;
}
.article-title a {
  color: #222;
}
.article-title a:hover {
  text-decoration: none;
  color: #bfba55;
}

.article-meta {
  margin-top: 20px;
  margin-bottom: 10px;
}
.article-meta span {
  margin: 0 10px;
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: #333;
}

.img-author {
  width: 42px;
}

.btn-article {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 15px 22px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  text-transform: capitalize;
}
.btn-article:hover {
  background-color: #bfba55;
  color: white;
}
.btn-article:focus {
  outline-color: none;
}

.article-body {
  margin: 30px 0;
}

.article hr {
  margin: 80px 0;
}

.footer {
  color: white;
  background: black;
  padding: 80px 0;
  font-family: "Merriweather", serif;
}

.footer-about h2, .footer-contact h2 {
  font-weight: bold;
}

.copyright {
  margin-top: 25px;
}

.banner-about {
  background: url("images/about-bg.jpg");
}

.banner-gallery {
  background-attachment: fixed;
  background: url("images/gallery-bg.jpg");
}

.banner-contact {
  background-attachment: fixed;
  background: url("images/contact-bg.jpg");
}

.banner {
  padding: 200px 200px;
  background-position: top center;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}
.banner h1 {
  color: white;
  font-weight: bold;
  font-size: 62px;
  font-family: "Merriweather", serif;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.banner-content {
  position: relative;
}

.content {
  margin: 70px 0;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mtb-50 {
  margin: 50px 0;
}

.pr-0 {
  padding: 0px;
}

.pl-0 {
  padding: 0px;
}

.footer {
  color: white;
  background: black;
  padding: 80px 0;
  font-family: "Merriweather", serif;
}

.footer-about h2, .footer-contact h2 {
  font-weight: bold;
}

.copyright {
  margin-top: 25px;
}